extend ./base

// Add extra stylesheets
block append stylesheets

block content
  //- Provides layout level markup
  .layout-wrapper.two-col
    block two-col

// Add extra scripts
block append scripts
